body {
    background-image: url('images/tile.jpg');
    background-size: cover;
}

.celebrity-img-div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 1em;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.75);
}

#celebs-list {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
}

.celeb-img-txt {
   top: 0;
   left: 0; 
   background: rgba(0, 0, 0, 0.5);
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   color: white;
   display: none;
   align-items: center;
   justify-content: center;
}

.celebrity-img-div:hover > p {
    display: flex;
}

#celeb-detl {
    width: 500px;
    margin: 1em;
}

.card-title, .card-subtitle {
    text-align: center;
}

#celeb-img {
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a6a7a9;
}

#celeb-quote {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.footer {
    text-align: center;
}